<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/cadastrar-usuario.css">
</head>
<body>
    <div>
         <a href="/cadastrar-usuarios" class="home">Criar Conta</a>
    </div>
    <div class="container">
  <h1>Login</h1>
    <form action="/acessando/" method="POST">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required >
        <br><br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required>
        <br><br>
      {% set messages =  get_flashed_messages ()%}
        {% if messages %}
            <div class="menssagens">
                <p>{{ messages[0] }}</p>
                 </div>
        {% endif %}

        <button type="submit">Logar</button>
        
    </form>

    </div>
</body>
</html>